<div class="col-md-12 " *ngIf="activarCuentaCorriente">
    <h3 class="card-title ">{{'CUENTA_CORRIENTE.PRODUCTO_TITULO' | translate}}</h3>
</div>
<div class="col-md-4 " *ngFor="let cuentasCorriente of cuentasCorrientes">
    <div class="card card-chart ">
        <div class="col-md-12 ">
            <img class="img-raised cc-img " src="../../../../assets/img/logos/corriente.png " alt=" ">
        </div>
        <div class="col-md-12 p-4">
            <a (click)="verDetalle(cuentasCorriente)" class="cursor">{{'VER_DETALLE' | translate}} </a>
        </div>
        <div class="p-4 ">
            <h4 class="card-title ">{{'CUENTA_CORRIENTE.PRODUCTO_SUB_TITULO' | translate}}</h4>
            Nro. {{cuentasCorriente.accountInformation.accountidentifier}}
        </div>

        <div class="card-body " *ngIf="cuentasCorriente.overDraftDays !==0 ">
            <h4 class="card-title ">{{'CUENTA_CORRIENTE.DESCRIPCION_SOBREGIRO' | translate}}</h4>

            <p class="card-category ">
                -{{cuentasCorriente.productAccountBalances.cupo_disponible_sobregiro | currency}}</p>
        </div>

        <div class="card-body " *ngIf="cuentasCorriente.overDraftDays===0 ">
            <h4 class="card-title ">{{'CUENTA_CORRIENTE.DESCRIPCION_SALDO' | translate}}</h4>

            <p class="card-category ">
                {{cuentasCorriente.productAccountBalances.saldo_disponible.amount | currency}}</p>
        </div>
        <div class="card-footer ">
            <div class="stats " *ngIf="cuentasCorriente.overDraftDays !==0 ">
                <i class="material-icons ">access_time</i> {{'CUENTA_CORRIENTE.DESCRIPCION_DIAS_SOBREGIRO' | translate}} {{cuentasCorriente.overDraftDays}}
            </div>
        </div>
    </div>
</div>

<ng-template #modalDetalle let-e="close">
    <div class="modal-header">
        <h4 class="modal-title">
            <div class="col-md-12">
                <img class="img-raised img-modal" src="../../../../assets/img/logos/corriente.png" alt="">
            </div>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="e('Cerrar')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div class="p-4">
            <h4 class="card-title">{{'CUENTA_CORRIENTE.PRODUCTO_SUB_TITULO' | translate}}</h4>
            Nro. {{detalleCCorrienteModal.accountInformation.accountidentifier}}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_SALDO_CANJE' | translate}} </h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.saldo_canje.amount | currency}}</p>
            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_CUPO_APROBADO_REMESAS' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.cupo_aprobado_remesas.amount}}</p>

            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_CUPO_APROBADO_SOBREGIRO' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.cupos_aprobado_sobregiro.amount | currency}}</p>

            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_SALDO_DISPONIBLE' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.saldo_disponible.amount | currency}}</p>

            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_SALDO_DIS_SOBREGIRO' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.cupo_disponible_sobregiro.amount | currency }} </p>

            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_CANJE_48' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.saldo_canje_48_horas.amount | currency }} </p>

            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_CANJE_72' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.saldo_canje_72_horas.amount | currency}} </p>

            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_CANJE_24' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.saldo_canje_24_horas.amount | currency}} </p>

            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_SALDO_AYER' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.saldo_ayer.amount | currency}} </p>

            <h4 class="card-title">{{'CUENTA_CORRIENTE.DESCRIPCION_SALDO_ACTUAL' | translate}}</h4>
            <p class="card-category">
                {{detalleCCorrienteModal.productAccountBalances.saldo_actual.amount | currency}} </p>
        </div>
    </div>
    <div class="modal-footer">
        {{'CUENTA_CORRIENTE.DESCRIPCION_FECHA_VENCIMIENTO' | translate}} {{detalleCCorrienteModal.dueDate | date}}
    </div>
</ng-template>